/*::::::::::::::::::::::::::::::::::::::::::::::::::::::: Pre 3.0.0 Fixes :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

a {
  user-select: all !important;
}

/*::: Main Background Image :::*/
.background-container > [class^="FullPage-container-"] div > div {
  background: rgba(31, 31, 31, 1);
  background-image: url("") !important;
  background-position: center center;
  background-size: 100% 100% !important;

  image-rendering: auto;
}

/*::: Image Container :::*/
div[class^="PrePlayArtwork-imageContainer-"],
div[class*="3dXG6"] {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: #1f1f1f !important;
  -webkit-animation: plexbgfadein .6s ease-in;
}

/*::: Image :::*/
div[class^="PrePlayArtwork-imageContainer-"] > div,
div[class*="3dXG6"] > div {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  opacity: .25 !important;
}

/*::: Resizing adds extra divs :::*/
div[class^="PrePlayArtwork-imageContainer-"] > div + div,
div[class*="3dXG6"] > div + div {
  display: none !important;
}

/*::: Item Thumbnail :::*/
div[class^="PrePlayArtwork-imageContainer-"] + div,
div[class*="3dXG6"] + div {
  position: fixed !important;
  top: 180px !important;
  background-position: center !important;
}

/*::: Background Fade-in :::*/
@-webkit-keyframes plexbgfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::: NEW ADDITIONS :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Max Width Of Summary Container :::*/
div[class^="PrePlaySummary-summary-"],
div[class*="1NL8g"] {
  margin-bottom: 5px;
  max-width: none !important;
  font-size: 15px;
}

/*::: Make Sure Overflow Of Summary Container is always visible :::*/
div[class^="PrePlaySummary-summary-"] > div,
div[class*="1NL8g"] > div {
  overflow: visible !important;
  max-height: none !important;
}

/*::: Hide Read More Button Since It's Useless Now :::*/
[class^="CollapsibleText-readMore-"],
[class*="1bRJm"] {
  display: none !important;
}

/*::: Hide The Go Premium Button :::*/
[class^="NavBar-plexPassButton-"],
[class*="wVK4v"] {
  display: none !important;
}

/*::: Plex Fixes Version :::*/
[class="version-title"]::after {
  white-space: pre;
  content: "\A Plex Fixes Ver. 1.0.8";
}

/*::: Make Users pic square :::*/
[class^="dropdown-poster-"] > div,
[class^="card-poster"],
[class^="AvatarImg-avatar-"],
[class*="3Op56"] {
  border-radius: 0;
}

/*::: Move dashboard down slightly :::*/
[class^="DashboardPage-dashboardPageContent-"],
[class*="2rN8X"] {
  padding: 15px 55px 60px !important;
}

/*::: make continue watching title containers a bit smaller :::*/
div[class*="MetadataPosterCell-continueWatchingTitleContainer-"],
div[class*="3yCAY"] {
  padding: 4px 5px !important;
  background-color: rgba(0, 0, 0, .35);
}

/*::: shorten the padding on headers on dashboard to bring inline with being closer to continue watching title container :::*/
div[class*="HubCellHeader-hubCellHeader-"],
div[class*="2pvYN"] {
  padding: 4px 0 0 5px !important;
}

/*::: Make cast pictures square :::*/
a[class^="PrePlayCastCell-cardLink-"],
div[class^="TagPosterCard-card-"],
a[class*="Tndv5"],
div[class*="RVD0D"] {
  border-radius: 0 !important;
}

/*::: lower actors faces a bit :::*/
div[class^="TagPosterCard-card-"] [class^="PosterCardImg-imageContainer-"] > div,
div[class*="RVD0D"] [class*="1Ar4M"] > div {
  background-position: 100% 30% !important;
}

/*::: Navbar height :::*/
[class*="NavBar-container-"],
[class*="1T0BJ"] {
  height: 40px;
}

/*::: Move navbar Activity Button number :::*/
[class*="NavBarActivityButton-label-"],
[class*="2ZN0g"] {
  top: 10px;
}

/*::: Resize navbar search box :::*/
[class*="QuickSearchInput-container-"],
[class*="QuickSearch-container-"],
[class*="1HiCo"],
[class*="2PWkB"] {
  height: 30px;
}

/*::: Pulsate Status :::*/
[class*="NavBarActivityButton-isActive-"] [class*="NavBarActivityButton-activityIcon-"] {
  opacity: .1;
  -webkit-animation: pulsate 5s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.3, 1.3);
  }
  50% {
    opacity: .3;
    -webkit-transform: scale(.85, .85);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.3, 1.3);
  }
}

/*::: Hide Cast List :::*/
div[class^="PrePlayCastList-castList-"],
div[class*="3dQB5"] {
  display: none !important;
}

/*::: Hide Movie Extras (dunno if there are tv extras or not as I could never get extras for tv shows to show up) :::*/
div[class^="PrePlayExtrasList-extrasHubCell-"],
div[class*="2NcGK"] {
  display: none !important;
}

/*::: Hide Related List i.e Related movies|shows|Genres|People :::*/
div[data-qa-id*="hub--movie.similar"],
div[data-qa-id*="hub--movie.same.actor."],
div[data-qa-id*="hub--tv.similar"],
div[data-qa-id*="hub--tv.same.actor"],
div[data-qa-id*="hub--tv.morefromnetwork"] {
  display: none !important;
}

/*::: Posters Hover Effects :::*/
/*::: Credits to @IanCeling :::*/

/* Poster Shadow */
div[class^="MetadataPosterCard-cardContainer-"],
div[class*="2gRcQ"] {
  box-shadow: 0 6px 26px -2px #000;
  transition: all 350ms;
  -webkit-perspective: 500px;
  perspective: 500px;
}

/* Poster Hover */
div[class^="MetadataPosterCard-cardContainer-"]:hover,
div[class*="2gRcQ"]:hover {
  box-shadow: 0 0 0 0 #000;
  transform: scale(.95) translateY(0);
}

/* Continue Watching poster hover */
div[data-qa-id="hub--home.continue"] div[class^="MetadataPosterCard-cardContainer-"]:hover,
div[data-qa-id="hub--home.continue"] div[class*="2gRcQ"]:hover {
  transform: scale(.97) translateY(-5px);
}

/*::: Photo Card Hover :::*/
[class^="MetadataPhotoCell-photoContainer-"],
[class*="1HkmQ"] {
  transition: all 350ms;
  -webkit-perspective: 500px;
  perspective: 500px;
}

[class^="MetadataPhotoCell-photoContainer-"]:hover,
[class*="1HkmQ"] {
  transform: scale(.95) translateY(0);
}

[class^="MetadataPhotoCell-photo-"]:hover,
[class*="Po3Kx"]:hover {
  box-shadow: none;
  transform: scale(1.02);
}

/*::: Poster Play Button :::*/
div[class^="MetadataPosterCardOverlay-playCircle-"],
div[class*="M67q6"] {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 48px;
  color: hsla(0, 0%, 100%, .7);
  box-shadow: 0 4px 16px -2px #000;
  transition: all 350ms;
  transform: translate(-50%, -50%) scale(.1);
}

div[class^="MetadataPosterCard-cardContainer-"]:hover div[class^="MetadataPosterCardOverlay-playCircle-"],
div[class*="2gRcQ"]:hover div[class*="M67q6"] {
  transform: translate(-50%, -50%) scale(1.2);
}

div[class^="MetadataPosterCard-cardContainer-"]:hover [class^=plex-icon-play-],
div[class*="2gRcQ"]:hover [class^=plex-icon-play-] {
  font-size: 30px;
}
